/* header */
header {
  background-color: rgba(248, 204, 110, 0.445);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.container-fluid {
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand {
  position: relative;
  left: 1%;
}

#brandname {
  position: absolute;
  top: 18px;
  left: 135%;
  font-family: "EB Garamond", serif;
  font-size: 35px;
  color: rgba(107, 83, 48);
}

#form {
  position: absolute;
  top: 25%;
  right: 1%;
  z-index: 1;
  font-family: "EB Garamond", serif;
  font-size: 25px;
  color: rgba(107, 83, 48);
}

#magnifier{
  left: 5px;
  width: 20px;
  height: 20px;
}

#form #searchkey{
  font-size: 25px;
  height:30px;
  width: 270px;
}

/* mobile menu icon */
#mobile-menu {
  display: none;
  position: absolute;
  right: 0px;
  border: none;
  margin-right: 0px;
  background-color: white;
}

.menuicon {
  height: 30px;
  width: 30px;
}

.nav {
  justify-content: center;
  max-height: 46px;
}

.nav-item {
  clear: both;
  font-family: "EB Garamond", serif;
  justify-content: center;
  font-size: 20px;
  padding-left: 17px;
  padding-right: 17px;
}

.nav-link {
  color: rgb(107, 81, 42);
  background-image: linear-gradient(white, white);
  background-position: left 34px;
  background-size: 0 2.5px;
  background-repeat: no-repeat;
  transition: background-size 0.2s linear;
}

.nav-link:hover {
  color: white;
  font-size: 22px;
  background-size: 100% 1.5px;
}

div > #mobilenavbar {
  display: none;
}

#mobilenavbar {
  display: none;
  position: sticky;
  clear: both;
  padding-left: 17px;
  padding-right: 17px;
  max-height: 120px;
}
.mobilenav-item {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 20px;
}

#mobilenavbar .mobilenav-item {
  height: 40px;
}

.mnav-link {
  color: rgb(107, 81, 42);
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: sub;
}

.mnav-link:hover {
  color: white;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  justify-content: flex-start;
}

/*back to top button */

#bktotop{
  position: sticky;
  bottom: 5px;
  left: 90%;
  background-color: #44361F;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
#bktotop a {
  color: aliceblue;
  font-family: "EB Garamond", serif;
  padding-left: 28%;
  vertical-align:  -webkit-baseline-middle;
  text-decoration: none;
}

/* footer */

.footerSquare {
  height: 340px;
  background-color: rgba(107, 83, 48);
  position: relative;
}

.contactus {
  text-align: center;
  padding-top: 30px;
  color: aliceblue;
  font-size: 30px;
  font-family: "PT Serif", serif;
  letter-spacing: 5px;
}

#igiconii {
  justify-content: center;
  padding-left: 49%;
  padding-top: 1%;
}

#igicondiv {
  width: 50px;
  height: 50px;
  background-color: rgb(68, 53, 31);
  border-radius: 50%;
  position: relative;
  justify-content: center;
}

.igicon {
  width: 40px;
  display: block;
  position: absolute;
  justify-content: center;
  padding-left: 20%;
  padding-top: 20%;
}

#igicondiv:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

.footercontent {
  margin-top: 20px;
  color: aliceblue;
  font-size: 15px;
  padding-left: 23px;
  text-align: center;
  font-family: "Vollkorn", serif;
  letter-spacing: 2.5px;
  line-height: 20px;
}

#copyright {
  color: black;
  font-size: 15px;
  font-weight: bolder;
}

@media (max-width: 1024px) {
  #mobile-menu {
    display: none;
  }
  .nav-item {
    display: block;
  }
  .nav {
    position: sticky;
    top: 0px;
  }
  #mobilenavbar {
    display: none;
  }
}

/* w/ mobile screen size */
@media (max-width: 375px) {
  #mobile-menu {
    display: block;
  }
  .nav-item {
    display: none;
  }
}
