@media (max-width: 1024px) {
  .imageimage1,
  .imageimage2 {
    width: 300px;
  }
  .teamarticle {
    margin-left: 70px;
  }
  .footerSquare {
    position: relative;
    top: -120px;
  }
}
@media (max-width: 375px) {
  .Title {
    height: 300px;
  }
  .english {
    font-size: 50px;
  }
  .content {
    position: relative;
    bottom: 100px;
  }
  .aboutus {
    font-size: 14px;
  }
  .imageimage1 {
    width: 330px;
    position: relative;
    margin-left: 10px;
  }
  .imageimage2 {
    width: 330px;
    position: relative;
    margin-left: 10px;
  }
  .teamtitle {
    position: relative;
    left: -330px;
  }
  #article {
    height: 3100px;
  }
  .photo {
    margin-left: -25px;
  }
  .teamarticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .englishname {
    font-size: 35px;
  }
  .name {
    font-size: 15px;
    margin-left: -22px;
    margin-top: -20px;
  }
  .footerSquare {
    position: relative;
    top: 2px;
  }
  #igicondiv {
    position: relative;
    left: -18px;
  }
  .footercontent {
    position: relative;
    left: -9px;
    top: -25px;
  }
  #copyright {
    font-size: 13px;
  }
}
