@media (max-width: 1024px) {
  .leftSquare > .image {
    margin-left: 35px;
  }
  .rightSquare > .image {
    margin-right: 35px;
  }
  .rightcontent {
    position: relative;
    left: 60px;
  }
  .leftcontent {
    position: relative;
    right: -25px;
  }
  .toomany {
    position: relative;
    right: 5px;
  }
}
@media (max-width: 375px) {
  .article{
    font-size: 40px;
  }
  .number {
    font-size: 30px;
  }
  .content {
    position: relative;
    left: 50px;
    top: 300px;
    font-size: 25px;
  }
  .articalTitle {
    font-size: 18px;
  }
  .topimage {
    max-width: 358px;
  }
  .smalltitle {
    font-size: 18px;
    text-align: left;
    width: 370px;
    margin-left: 115px;
  }
  .decorate {
    position: relative;
    left: -325px;
  }
  .topcontent {
    font-size: 15px;
    text-align: center;
    width: 358px;
  }
  .rightSquare {
    display: flex;
    flex-direction: column;
  }
  .leftSquare {
    display: flex;
    flex-direction: column;
  }
  .rightcontent {
    position: relative;
    left: 5px;
    top: 5px;
    font-size: 13.5px;
  }
  .toomany {
    position: relative;
    left: 5px;
    top: 0px;
    font-size: 13.5px;
  }
  .leftcontent {
    position: relative;
    left: 5px;
    top: 5px;
    font-size: 13.5px;
  }
  .footerSquare {
    position: absolute;
    bottom: -1050px;
    width: 360px;
    height: 400px;
  }
  .time {
    position: absolute;
    bottom: -615px;
    font-size: 15.5px;
  }
  .Title {
    height: 430px;
  }
  .leftSquare > .image {
    left: 30px;
  }
  .rightSquare > .image {
    position: relative;
    left: 33px;
  }
  strong {
    position: relative;
    left: 140px;
  }
  .decorateline {
    position: relative;
    left: 147px;
  }
  #igiconii {
    position: relative;
    left: -18px;
  }
  .footercontent {
    position: relative;
    top: -25px;
    left: -10px;
  }
}
